@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


.homedeco{
    width: 14em;
    height: 14em;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 3;
    animation: Homeeffect 5s ease forwards;
}

.homedeco1{
    width: 20em;
    height: 20em;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    animation: Homeeffect1 5s ease-in-out forwards;
    transition: 0.5s;
}

.homedeco2{
    width: 12em;
    height: 12em;
    border-radius: 50%;
    background-color:green;
    position: absolute;
    z-index: 1;
    animation: Homeeffect2 5s linear forwards;
    transition: 0.5s;
}


nav{
    position:relative;
    z-index: 99;
    margin-top: 15%;
    margin-left: 27%;
}

.headlink{
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: 'Roboto', sans-serif;
}


@keyframes Homeeffect{
    0% {left: 0%; top: 0%;}
    25% {left: 8%; top:80%;}
    50% {left: 15%; top: 3%;}
    100% {left: 20%; top: 8%;}
}

@keyframes Homeeffect1{
    0% {left: 0%; top: 0%;}
    25% {left: 6%; top:75%;}
    50% {left: 18%; top: 7%;}
    100% {left: 25%; top: 16%;}
}

@keyframes Homeeffect2{
    0% {left: 0%; top: 0%;}
    25% {left: 7%; top:90%;}
    50% {left: 15%; top: 10%;}
    100% {left: 23%; top: 40%;}
}

.backgroundfill1{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 0;
    font-size: 12em;
    margin-top: 0%;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.backgroundfill2{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    z-index: 5;
    font-size: 12em;
    margin-top: 0%;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.backgroundfill3{
    z-index: 0;
    font-size: 1em;
    font-weight: 700;
}

.link{
    text-decoration: none;
    color: white;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    padding: 0.5em;
}

.link:hover{
    z-index: 99;
    background-color: white;
    color: red;
    border-radius: 2em;
    box-shadow: 10px 10px 20px #BDBDBD;
}

.blue:hover{
    color: #0000ff;
}

.green:hover{
    color: green;
}


/* following code if from  https://blog.csdn.net/qq_38931949/article/details/86747751 */
.sidenav {
    height: 100%;
    width: 0; /*原始宽度*/
    position: fixed;
    /*z-index、top、left共同控制侧栏的悬浮（上方1，下方-1）*/
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s; /*侧栏延迟0.5s显示*/
    padding-top: 60px;
}
 
/*侧边栏标签选择器*/
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    display: block;
    transition: 0.3s; /*标签延迟0.3s显示*/
}
 
/*侧栏标签和关闭按钮光标的效果*/
.jumplink{
    margin: 1em 0em 1em 0.2em;
}

.jumplink:hover{
    background-color: white;
    color: red ;
}

.jumplink1{
    margin: 1em 0em 1em 0.2em;
}

.jumplink1:hover{
    background-color: white;
    color: blue ;
}

.jumplink2{
    margin: 1em 0em 1em 0.2em;
}

.jumplink2:hover{
    background-color: white;
    color: green ;
}

.jumplin .jumplink1 .jumplink2{
    font-family: 'Roboto', sans-serif;
}

.closebtn:hover{
    font-weight: 900;
}
 
/*侧栏和关闭按钮的位置选择器*/
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
 
/*主体内容*/
#main {
    transition: margin-left .5s;/*主体内容延迟0.5s整体y右移动*/
    padding: 5px 16px 5px 16px;
}
 
/*当文档高度小于450px时，改变侧栏的padding属性和字体大小*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*code snippet end*/

.navbutton{
    font-size:30px;
    cursor:pointer;
}

.aboutme{
    background-image: url("../Image/pexels-sharon-mccutcheon-1212407.jpg");
}

.abme:hover{
    transition: 0.5s;
    color:red;
    text-shadow: 2px 2px 8px red;
}


.mywork{
    background-image: url("../Image/pexels-sharon-mccutcheon-1428169.jpg");
}

.myw:hover{
    transition: 0.5s;
    color: blue;
    text-shadow: 2px 2px 8px blue;
}

.contactme{
    background-image: url("../Image/pexels-pixabay-207725.jpg");
    background-size: 550%;
}

.conme:hover{
    transition: 0.5s;
    color: green;
    text-shadow: 2px 2px 8px green;
}

.portrait{
    background-image: url("../Image/portrait.png");
    background-size:cover;
}

h2{
    font-family: 'Roboto', sans-serif;
}

article{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

.fixheader{
    position: fixed;
    z-index: 99;
    top: 0;
}

.linktonext{
    margin-left: 5%;
    margin-top: 5%;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 2em;
    color: black;
    transition: 1s;
}

.linktonext:hover{
    text-decoration: underline;
    font-size: 2.5em;
    text-shadow: 2px 2px 8px blue;
}

.linktonext1{
    margin-left: 5%;
    margin-top: 0%;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 2em;
    color: black;
    transition: 1s;
}

.linktonext1:hover{
    text-decoration: underline;
    font-size: 2.5em;
    text-shadow: 2px 2px 8px green;
}


/* following code if from https://www.w3schools.com/howto/howto_js_slideshow.asp */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 70%;
  position:relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.mySlides1 {
    display: none;
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }

.mySlides2 {
    display: none;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.mySlides3 {
    display: none;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: 700;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 1em;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    color: white;
    background-color: rgba(39,58,78,0.8);
    box-shadow: 10px 10px 20px #BDBDBD;
}

/* Caption text */
.text {
  color: black;
  font-size: 0.5em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family:'Comfortaa', cursive;
  font-weight: 900;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 0.5em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  margin-left: 1em;
  font-family:'Comfortaa', cursive;
  font-weight: 900;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 0.5em;
  width: 0.5em;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  text-align: center;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*code snippet end*/

.reflectlink{
    margin-left: 5%;
    margin-top: 5%;
    text-decoration: underline;
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
    color: black;
    transition: 1s;
}

.reflectlink:hover{
    text-shadow: 2px 2px 8px blue;
    
}

.white_content { 
    display: none; 
    position: absolute; 
    left: 25%; 
    width: 55%; 
    height: 55%; 
    padding: 20px; 
    border: 10px solid black; 
    z-index: 1001;
    border-radius: 2em;
    background-color:rgba(255,255,255,0.9); 
    overflow: auto; 
} 

.backicon{ 
    width: 2em;
    height: 2em;
}

.articlelink{
    color: black;
}

.articlelink:hover{
    font-weight: 700;
    border-color: black;
    border-radius: 1em;
    border-width: 0.5em;
}