@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: black;
  }

/* Add some content at the bottom of the video/page */
.banner{
    position: relative;
    color: white;
    width: 100%;
    padding: 20px; 
    font-family:'Raleway', sans-serif ;
    font-size: 2em;
}

.project_name{
    margin-top: 10%;
    margin-left: 8%;
    font-size: 5em;
    opacity: 0.7;
    font-family:'Cinzel', serif;
}

.project_name:hover{
    opacity: 1;
}

.headofwelcome{
    font-size: 1em;
    margin-top: 0.5%;
}

.linktohome{
    color: white;
    white-space: nowrap;
}

.tohomebutton{
    background-color: white;
    color: black;
    font-family: 'Raleway', sans-serif ;
    font-size: 1.5em;
    font-weight: 700;
    margin: 1em 0em 0.5em,0em;
    padding: 0.3em;
    border-radius: 0.1em;
    
}

.tohomebutton:hover{
    padding: 0.1em;
    border-radius: 0.3em;
}

.text_after_banner{
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding-left: 1em; 
    margin-left: 2em;
    height: 35%;
    font-size: 0.8em;
}

.player{
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    width:1.5em;
    height:1.5em;
    cursor:pointer;
    margin-top:  1.5em;
    background-color: white;
    border-radius: 0.1em;
    position: relative;
}

.player:hover{
    border-radius: 50%;
}


.unsound{
     background-image:url("../image/icons8-sound-speaker-96.png");
}

.sound{
     display: none;
     background-image:url("../image/icons8-mute-96.png");
}

.container {
    height: 100%;
    overflow: auto;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 6%;
}

.container__section {
    /* Take full size */
    height: 100%;
    width: 100%;

    /* Stick to the top */
    position: sticky;
    top: 0;
}

.black_overlay{ 
    display: none; 
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
    background-color: white; 
    z-index:1001; 
    -moz-opacity: 0.8; 
    opacity:.80; 
    filter: alpha(opacity=88); 
} 
.white_content { 
    display: none; 
    position: absolute; 
    top: 25%; 
    left: 25%; 
    width: 55%; 
    height: 55%; 
    padding: 20px; 
    border: 10px solid black; 
    border-radius: 2em;
    background-color:rgba(255,255,255,0.4); 
    z-index:1002; 
    overflow: auto; 
} 

.block{
    border-style: ridge;
    border-width: 3px;
    border-radius: 3em;
    border-color: black;
    text-align: center;
    margin: 2%;
    margin-left: 25%;
    margin-right: 25%;
    }

.block2{
    display: flex;
    border-style: solid;
    border-width: 0.25em;
    border-color: white;
    text-align: center;
    border-radius: 1.5em;
    }

.container {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
    align-content: start;
    }

.choosecontainer{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-self: space-between;
    align-items: auto;
    align-content: center;
    width: 100%;
    height: 100%;
    margin-left: 3%;
    margin-top:0;
}


.item {
    flex: 0 0 auto;
    margin: 0.5em;
    }


.beblock{
    display: inline-block;
    width: 50%;
}


.textcheck{
    text-align: justify; 
    border: 0.25em solid white;
    border-radius: 1.5em;
    padding: 1em;
    line-height: 150%;
    font-size: 1em;
    display: inline-flex;
    max-width: 100%;
    max-height: 100%;
    width: 40%;
    margin-left: 3%;
}

h2{
    display: inline-block;
    margin-top: 1.5%;
    font-family: 'Open Sans', sans-serif;
}

.icon{ 
    float: left; 
    clear: both; 
    margin-top: 26.8px;
    } 

.background{
    background-image: url("../image/pexels-kai-pilger-1341279.jpg");
    background-size: contain;
    color: white;
}

.spaceship{
    width:100%;
    position: relative;
    z-index: 1;
}

.popup_content { 
    display: none; 
    position: absolute; 
    top: 25%; 
    left: 25%; 
    width: 55%; 
    height: 55%; 
    padding: 20px; 
    border: 10px solid #2B2B2B; 
    border-radius: 3em;
    background-color:rgba(255,255,255,0.8); 
    z-index:1002; 
    overflow: auto; 
} 

.backtopage{
    width: 3em;
    height: 3em;
    margin-left: 5%;
}

.backtopage:hover{
    width: 2.5em;
    height: 2.5em;
}

#shipcontainer{
    position: relative;
}

.selectdotlink1{
    left: 50%;
    top: 48%;
    position:absolute;
    z-index: 99;
}

.selectdotlink2{
    left: 40%;
    top: 70%;
    position:absolute;
    z-index: 99;
}

.selectdotlink3{
    left: 67%;
    top: 50%;
    position:absolute;
    z-index: 99;
    color: white;
}

.selectdotlink3:hover{
    font-weight: 600;
}

.selectdotlink4{
    left: 64%;
    top: 26%;
    position:absolute;
    z-index: 99;
}

.selectdot{
    height: 2em;
    width: 2em;
}

.selectdot:hover{
    height: 2.5em;
    width: 2.5em;
}


.mainblock{
    text-align: center;
}
 
.typebox{
    text-align: center;
    margin: 2%;
    
}

#backtoalign{
    text-align: center;
}

.btn{
    margin: 20px 120px;
    width: 8em;
    height: 4em;
    background-color: white;
    color: black;   
    border-radius: 0.5em;   
    border-color: white;  
    font-weight: 700;
}

.content{
    margin: 10px auto;
    display: none;
}

.btn.active{
    border-color: grey;  
    background-color: #292929;
    color: white;
}

.content.show{
    display:block;
}

#header{
    z-index: 1000;
    width: 100%;
}

#side{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: auto;
    align-content: start;
    height: 400px;
    width: 30%;
    float:left;
}

#content{
    background-color:#EEEEEE;
    height:400px;
    width:70%;
    float:left;
    border-style: ridge;
    border-width: 3px;
    border-color: black;
    text-align: justify; 
    border:0.1em solid white;
    border-radius: 0.5em;
    padding: 1em;
    line-height: 150%;
    font-size: 1em;
}

.textbox{
    background-color: #EEEEEE;
    height: 90%;
    width: 90%;

}


input{
    width: 75%;
    height: 25%;
    border-radius:1.5em;
    padding: 5%;
    margin: 1%;
}


.button {
    display: inline-block;
    border-radius: 1.5em;
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    font-weight:700;
    font-size: 1.2em;
    padding: 20px;
    width: 75%;
    height: 25%;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 1%;
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}


#mainpart{
    display: flex;
    margin: 10%;
    margin-top: 20%;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 70%;
  position:relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  font-family: 'Raleway', sans-serif;
}

.mySlides1 {
    display: none;
    font-family: 'Raleway', sans-serif;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 1em;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  margin-left: 1em;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  text-align: center;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#home{
    padding: 10% 25% 15% 15%;
    background-image: url("../image/saturn.jpg");
    background-size: 120% 120%;
    background-repeat:no-repeat;
    overflow: hidden;
}

.hometitle{
    margin: 2em;
}

a,a.visted, a.active,a:hover{
    text-decoration: none;
}

.titlelink{
    font-variant: small-caps;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    color: white;
    margin: 2em;
}

.titlelink:hover{
    background-color: white;
    color: black;
    border-radius: 0.2em;
    padding: 0.1em;
}

.homelink{
    font-variant: normal;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 1.5em;
    display: block;
    margin: 1.5em;
}

.homelink:hover{
    font-family: 'Raleway', sans-serif;
    font-weight:900;
}

.icon3{
    height: 3em;
    width: 3em;
}

.icon3:hover{
    height: 2.5em;
    width: 2.5em;
}

.back-to-96{
    margin: 2em;
}

.illustrate{
    width: 70%;
    border-radius: 3em;
    margin-left: 15%;
}


.login{
    color: white;
    width: 3em;
    height: 3em;
}

.login:hover {
    width: 3.5em;
    height: 3.5em;
    font-weight: bolder;
}

.oneline{
    display:inline-block;
    flex-direction: row;
    color: white;
}

.oneline:hover{
    font-weight: bolder;
}

.button2 {
    display: inline-block;
    border-radius: 1.5em;
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    padding: 20px;
    width: 40%;
    height: 15%;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 1%;
    margin-top: 3%;
}
  
.button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button2 span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button2:hover span {
    padding-right: 25px;
}
  
.button2:hover span:after {
    opacity: 1;
    right: 0;
}

.shipintro{
    color: #2B2B2B;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin:5%;
    text-align:justify;
}

h4{
    margin: 2% 0% 5% 0%;
    font-family: 'Raleway', sans-serif ;
}

.article{
    text-align: justify; 
    border:0.1em solid white;
    border-radius: 0.5em;
    padding: 1em;
    line-height: 150%;
    font-size:1.1em;
    font-family: 'Open Sans', sans-serif;
}

.pagelink{
    color: white;
    text-decoration:underline;
}

.pagelink:hover{
    border:0.1em solid white;
    border-radius: 0.5em;
}

.fixheader{
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.dropdown{
    position:relative;
    display:inline-block;
     
}

.dropdown:hover h1{
    border:0.1em solid white;
    border-radius: 0.3em; 
}

.dropdowncontent{
    display:none;
    width: 20%;
    margin-left: 0%;
    margin-top: 3%;
    padding-left: 0%;
    list-style-type:none;
    margin-top: 0%;
    margin-left: 0.5%;
    border: 3px solid white; 
    border-radius: 0.5em;
    background-color:rgba(255,255,255,0.8); 
    color: rgba(0,0,0,0.8);
    display: none;
    z-index: 6;
    position: fixed;

}
     
.dropdown:hover .dropdowncontent{   
    display:block;    
}

.dropdowncontent ul{
    list-style-type:none;
}

.dropdowncontent a{
   text-decoration: none;
   color: rgba(0,0,0,0.8);
}

.dropdowncontent a:hover{
    text-decoration: none;
    background-color: rgba(0,0,0,0.3);
    border-radius: 0.3em;
 }